[user]
	name = dhilipsiva
	email = dhilipsiva@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/dhilipsiva/.gitignore_global
[push]
	default = matching
[branch]
    autosetuprebase = always
[github]
	user = dhilipsiva
[diff]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
